/* Custom Color Variables*/

:root {
    --color-primary: #0096c7;
    --color-secondary: #023e8a!important;
    --color-acent: #0077b6;
    --font-nanum: 'Quicksand', sans-serif;
}

/*Custom Classes*/

.bg-primary{
    background-color: var(--color-primary);
}

.color-primary {
    color:var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.color-secondary{
    color:var(--color-secondary);
}

.bg-acent{
    background-color: var(--color-acent);
}

.color-acent{
   color:var(--color-acent);
}

/*Button Styling*/

.btn-theme {
    box-shadow: none;
    margin: 0;
    padding: 8px 20px;
    font-family: var(--font-nanum);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: #ffff;
    border-radius: 30px;
    transition: 0.5s ease;
}

.btn-theme-2 {
    box-shadow: none;
    margin: 0;
    padding: 5px 15px;
    font-family: var(--font-nanum);
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.08rem;
    background-color: var(--color-primary);
    color: #ffff;
    border-radius: 20px;
    transition: 0.5s ease;
}

.btn-theme:hover,
.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #ffff;
    box-shadow: none;
}

.btn-play {
    box-shadow: none;
    margin: 0;
    padding: 7px 13px;
    font-family: var(--font-nanum);
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.08rem;
    background-color: var(--color-secondary);
    color: #ffff;
    border-radius: 100%;
    transition: 0.5s ease;   
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: #ffff;
    box-shadow: none;
}

/* Header*/

header.header {
    width: 100%;
}

.header nav.navbar {
    box-shadow: none;
    color: var(--color-secondary);
}

.header nav.navbar .navbar-brand {
    font-family: var(--font-nanum);
    font-weight: 700;
    font-size: 25px;
    color:var(--color-secondary);
}

.header nav.navbar .nav-item {
    margin: auto 20px
}

.header nav.navbar .nav-link {
    color: var(--color-secondary);
    font-family: var(--font-nanum);
    font-weight: 700;
    padding: 10px 20px;
    transition: 0.5s ease;
}

.header .navbar .nav-link:hover,
.header .navbar .nav-link.active {
    color: var(--color-primary);
}

/* Hero Banner */

#hero-banner {
    width: 100%;
    color: var(--color-secondary);
    font-family: var(--font-nanum);
    padding: 70px 0;
}

#hero-banner h1 {
    font-weight: 600;
}

#hero-banner p{
    font-weight: 500;
}

#hero-banner .image {
    border-radius: 30px;
    overflow: hidden;
}

/* Search Section */

#search-section .search-area {
    border-radius: 80px;
    padding: 25px 37px;
    font-family: var(--font-nanum);
}

#search-section .search-area select {
    padding: 3px 5px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 3px;
}

#search-section .search-area input {
    padding: 3px 5px;
    width: 100%;
    margin-bottom: 3px;
}

#search-section .search-area input:focus {
    box-shadow: none;
}

#search-section .search-area button.btn-theme {
    padding: 8px 40px;
}

/* About Section*/

#about-section {
    width: 100%;
    background-color: #e9ecef;
    padding: 100px 0;
    font-family: var(--font-nanum);
}

#about-section h1 {
    font-weight: 600;
    color: var(--color-secondary);
}

#about-section .image{
    border-radius: 80px;
    overflow: hidden;
}

#about-section img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Services*/

#services-section {
    margin: 10px;
    padding: 110px 0;
    font-family: var(--font-nanum);
}

#services-section .services-show {
    padding: 50px 23px;
    text-align: center;
    margin: 15px;
    transition: 200ms ease-in-out;
}

#services-section .h4 {
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--color-secondary);
}

#services-section p {
    font-weight: 400;
    font-size: 15px;
}

#services-section .btn-theme-2{
    top: 5%;
    align-self: center;
}

#services-section .services-show:hover {
    box-shadow: none;
    transform: scale(1.1);
}


/* Properties Section*/

#property-section {
    font-family: var(--font-nanum);
    width: 100%;
    padding: 50px;
    background-color: #e9ecef;
    color: var(--color-secondary);
}

#property-section h1 {
    font-weight: 600;
}

#property-section #property-slider {
    width: 100%;
    margin: 50px;
    height: 400px;
}

#property-slider .swiper-container {
    width: 100%;
    height: 100%;
}

#property-slider .swiper-container .swiper-slide .property-list{ 
    width: 100%;
    padding: 10px;
    background: #ffff;
}

#property-slider .swiper-container .swiper-slide .property-list .image{ 
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#property-slider .swiper-container .swiper-slide .property-list .image img{ 
    width: 100%;
    height:100%;
    overflow: hidden;
    object-fit: cover;
}